<div class="my-3 p-3 bg-body rounded shadow-sm" id="list-countries">

    <form class="d-flex mb-3" role="search">
        <input class="form-control me-2" type="search" id="search" name="q" [(ngModel)]="search" placeholder="Search a country by name">
        <button class="btn btn-outline-success" type="submit" (click)="filterCoutriesByName()">Search</button>
    </form>

    <h6 class="border-bottom pb-2 mb-0">Countries</h6>
    @for(country of countries; track country){

        <app-country-item [country]="country"></app-country-item>

    }


    <small class="d-block text-end mt-3">
        <a href="#">Go to Top</a>
    </small>
</div>

